branches:
  only:
  - master

language: python
python:
- "3.6"
before_script:
- if [ -n "${GH_TOKEN}" ] && [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    pip install pygithub;
    pip install pygithub3;
  fi
script:
- python3 tools/sqf_validator.py
- python3 tools/config_style_checker.py
- if [ -n "${GH_TOKEN}" ] && [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    python3 tools/deploy.py;
  fi
env:
  global:
  - secure: eK7XIeQ3F2dPCGML0EzKxQkR8o1ekf0GRyJjMmV0U7ZzLlHBqeJKb3cXiN9HtVau0ePxMqXV/zyyV2x02NDsUejqTZwSwOAxu+1+G9zmUNkEw4icRcB+ct9Z++A+QBnPnt5mZP/TKHCniI3e6Va/dHNvFuSkLXqC9eSYb5LYkd2Guj4Xy0lV5XumbONLRqjDvKZyo4J3fRr4yed+JIn5ZsyjekYE89Xf97Tk+SJJ4/afm2F37FxoVYPnFIGDE4vYTffOcBkssRBZCKBRYM0xRSC6rzCe8RiXgPnXjwM1PWjHyhyphWxYmnzK7bCi8Hl8jhSUZFKPT8VVdV3gk5q+Y6I5X1Cgnwy//nRrvXJqSTFpLqbeXmuIBW3M2iAqgpDVtwGgX/tOoeD0aNzPHKtW3xShyu/yYQ2faCReP9A5UT1sPDd9b2kMMsjqx3LIYp6SvN2h4Lrqlc7iVFgdcPVnMMV/KfJDsobXoSBEp9JAAPvxVOUxr+hfgLLfLDwlAeyEQ7LOVg5CoyF6DQX3MikKOXRugLDWO2TbHzrShiPu8z0niIgk7EaFHfeuuHR1z0oUX3vo/BPmcdNCS1ymm0PvynnKuI2I5Nmu4GwCwyRxG5xgDulgoHMMoRYv0K1J4w8swZgTkgiHcp/40a9IywkGQDyVFaKuoG6Z17zF8vMCLVE=
notifications:
  email:
    on_success: never
    on_failure: change
