name: Extensions

on:
  push:
    paths:
      - 'extensions/**'
      - '.github/workflows/extensions.yml'
    branches:
      - '*'
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - toolchain: stable-x86_64-unknown-linux-gnu
            os: ubuntu-latest
            from: libapollo_client.so
            to: _x64.so
          - toolchain: stable-x86_64-pc-windows-msvc
            os: windows-latest
            from: apollo_client.dll
            to: _x64.dll
          - toolchain: stable-i686-pc-windows-msvc
            os: windows-latest
            from: apollo_client.dll
            to: .dll
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v3
    - name: Install Rust Toolchain
      run: rustup toolchain install ${{ matrix.toolchain }}
    - name: Build
      run: cd extensions && cargo ${{ matrix.toolchain }} build --release
    - name: Move
      run: mkdir release && cp extensions/target/release/${{ matrix.from }} release/tac_apollo_client${{ matrix.to }}
    - uses: actions/upload-artifact@v3
      with:
        name: extensions-${{ github.sha }}
        path: release
